[submodule ".registry"]
	path = .registry
	url = https://github.com/esmail-abdulfattah/esmail-abdulfattah.r-universe.dev
	branch = HEAD
[submodule "sTiles"]
	path = sTiles
	url = https://github.com/esmail-abdulfattah/sTiles
	subdir = R/sTiles
